input[type="file"] {
    margin-top: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #7C9EB2;
}

header {
    background-color: #231123;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

button {
    background-color: #52528C;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #372554;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.completed {
    background-color: lightgreen;
}

#modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 35%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}